.home {
  height: fit-content;
  min-height: 100vh;
  overflow: auto;
  background-color: rgb(226, 214, 214);
  color: rgb(56, 56, 56);
}

.bottom__container {
  height: 100%;
  display: flex;
}

.content {
  padding: 2.5rem;
  padding-top: 5.5rem;
  margin-left: 13rem;
  flex: 1;
  height: fit-content;
}
.flex__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.chart__right {
  width: 26vw;
  background-color: rgb(247, 242, 236);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-radius: 15px;
  padding: 18px;
}
.chart__right h2 {
  text-align: center;
  margin: 8px auto;
}
.chart__right Button {
  margin: 15px auto !important;
}
hr {
  border: 0;
  height: 1px;
  background: rgb(83, 83, 83);
  margin: 15px 0;
}

.download__link {
  text-decoration: none;
  color: white;
}
